h1{
  align-content: center;
}
h3{
  display: block;
  align-content: center;
}
.img2{
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

form{
  float: right;
  right: 80px;
  width: 500px;
  padding: 10px;
}
hr{
  border: solid #6FA599;
  border: width 3px;
  width: 50px;
  margin-left: 0px;
  margin-right: 45px;
}
input, text{
  padding: 5px;

}
input, text{
  padding: 5px;

}
#div1{
  padding: 5px;
}
#div2{
  padding: 5px;
}
#div3{
  padding: 5px;
}
#div4{
  padding: 5px;
}
button{
  padding: 5px;
  border: 1;
  width: 60%;
  margin-left: 5px;

}
#div4{
  position: absolute;
  right: 15px;
  bottom: 0px;

}
.first{
  text-decoration: none;
  margin-right: 5px;
  color:#6FA599

}
.second{
  text-decoration: none;
  margin-right: 5px;
  color:#6FA599

}
